.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #FDFDFD;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);

    margin-bottom: 6px;
    box-sizing: border-box;
}
.card:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.card__title {
    margin: 0;
    padding: 14px 0  0 14px;

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: black;
}

.card__time {
    margin: 9px 0 14px 9px;

    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}

.card__image {
    max-width: 100%;
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.card__header {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.card__save {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}


@media screen and (max-width: 768px) {
    .card__image {
        max-width: 342px;
        height: 190px;
    }
}
